[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/octet-stream;
Actions=gostSign

[Desktop Action gostSign]
TryExec=surguch
Exec=surguch -f %U
Icon=SealWax-1_32

Name=Sign documents
Name[ru]=Подписать документы
Comment=Sign documents with CryptoPro
Comment[ru]=Подписать документы с помощью КриптоПро

