[Desktop Entry]
Type=Application
Name=Surguch
GenericName=PDF Reader with electroinc signatures support
MimeType=application/pdf;
Exec=surguch
Terminal=false
Keywords=pdf;csp;crypto;sign
Categories=Utility;
